<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Booking Bot</title>
	<!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css' />
	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' />
</head>
<body>
	<p>
		Get your greeting <a href="/greeting">here</a>
	</p>
	
	<h1 align="center">Search Flights</h1>
    
    <form action="#" th:action="@{/search}" th:object="${searchRequest}" method="post">
    	<div class="col-md-8 col-md-offset-2">
        	<!-- ROW 1 - flightSearchForm.travelType -->
            <div class="form-group row" id="travelTypeOptions">
            	<label class="col-md-3 control-label">Travel Type</label>
		  		<label class="col-md-2 radio-inline">
		  			<input type="radio" name="travelType" id="oneway" value="oneway" th:field="*{travelType}" />One Way
	  			</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" name="travelType" id="return" value="return" th:field="*{travelType}" />Return
				</label>
				<label class="col-md-2 radio-inline">
					<input type="radio" name="travelType" id="multicity" value="multicity" th:field="*{travelType}" />Multi City
				</label>
            </div>
            <!-- ROW 2 - flightSearchForm.fromDest && flightSearchForm.toDest Labels -->
            <div class="form-group row">
                <label class="col-md-3 control-label">From</label>
                <div class="col-md-3" onkeyup="getFromDestination(this)">
					<input type="text" class="form-control" id="fromDest"
						name="fromDest" value="Where are you flying from..." th:field="*{fromD}" />
				</div>
				<div th:if="${#fields.hasErrors('fromD')}" th:errors="*{fromD}">Error</div>
                <label class="col-md-3 control-label" >To</label>
                <div class="col-md-3" onkeyup="getToDestination(this)">
                    <input type="text" class="form-control" id="toD"
						name="toD" value="Where are you flying to..." th:field="*{toD}" />
                </div>
                <div th:if="${#fields.hasErrors('toD')}" th:errors="*{toD}">Error</div>
            </div>
            <!-- ROW 3 - Departure Date & Return Date -->
            <div class="form-group row">
                <label class="col-md-3 control-label" >Departure Date</label>
                <div class="col-md-3">
                	<div class="input-group date" >
	                    <input id="depDate" type="text" class="form-control" th:field="*{depDt}" />
	                  	<span class="input-group-addon">
	                    	<span class="glyphicon glyphicon-calendar"></span>
	                  	</span>
                	</div>
                </div>
                <label class="col-md-3 control-label" >Return Date</label>
                <div class="col-md-3">
                	<div class="input-group date" >
                    	<input id="*{rtrnDt}" type="text" class="form-control" th:field="*{rtrnDt}" />
                  		<span class="input-group-addon">
                      		<span class="glyphicon glyphicon-calendar"></span>
                    	</span>
                	</div>
            	</div>
            </div>
            <!-- ROW 4 - Travel Class -->
            <div class="form-group row">
                <label class="col-md-3 control-label">Travel Class</label>
		  		<label class="col-md-2 radio-inline"><input type="radio" name="travelClass" value="economy" checked="checked" th:field="*{travelClass}" />Economy</label>
				<label class="col-md-2 radio-inline"><input type="radio" name="travelClass" value="business" th:field="*{travelClass}" />Business</label>
				<label class="col-md-2 radio-inline"><input type="radio" name="travelClass" value="firstclass" th:field="*{travelClass}" />First Class</label>
            </div>
            <!-- ROW 5 - directFlightsOnly & refundable -->
            <div class="form-group row">
                <label class="col-md-3 control-label">Direct Flights Only</label>
                <div class="col-md-3">
                    <input type="checkbox" value="directFlightsOnly" th:field="*{directFlightsOnly}" />
                </div>
                <label class="col-md-3 control-label" >Refundable</label>
                <div class="col-md-3">
                    <input type="checkbox" value="refundable" th:field="*{refundable}" />
                </div>
            </div>
            <!-- ROW 6 - Passengers -->
            <div class="form-group row">
                <label class="col-md-3 control-label" >Passengers</label>
                <label class="col-md-1 control-label" >Adults</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="adults" th:field="*{adults}" />
                </div>
                <label class="col-md-1 control-label" >Children</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="children" th:field="*{children}" />
                </div>
                <label class="col-md-1 control-label" >Infants</label>
                <div class="col-sm-2">
                   <input type="number" class="form-control" id="infants" th:field="*{infants}" />
               </div>
            </div>
        </div>
        <div class="control-label col-sm-2 col-sm-offset-5 row">
             <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

	<!-- Scripts -->    
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js'></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>